{% extends 'extends/base.html' %}

{% load static %}

{% block title %}EPOBS - Add Employees{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'employee-list' %}">Employees</a></li>
  <li class="breadcrumb-item">Add</li>
{% endblock %}

{% block content %}

  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include './employee-form.html' %}
    <input type="submit" name="save" value="Save" class="btn btn-primary" />
  </form>

  <a href="{% url 'employee-list' %}" class="btn btn-secondary">Back to Employee List</a>
  <a href="{% url 'employee-import' %}" class="btn btn-secondary">Import...</a>

  {% if recent_employee_list|length > 0 %}
    <h3>{{ user }}'s recently added employees</h3>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in recent_employee_list %}
          <tr>
            <td>{{ employee }}</td>
            <td><a href="{% url 'employee-edit' employee.pk %}"><i class="fas fa-pencil-alt"></i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock %}
