{% extends 'base.html' %}

{% load static %}

{% block title %}EPOBS - List Employees{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Personnel</li>
  <li class="breadcrumb-item">Employees</li>
  <li class="breadcrumb-item">List</li>
{% endblock %}

{% block content %}
  <div class="form-group">
    <a href="{% url 'add_employees' %}" class="btn btn-secondary"><i class="fas fa-plus-square"></i> Add Employees...</a>
  </div>

  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in object_list %}
        <tr>
          <td>{{ employee }}</td>
          <td><a href="{% url 'edit_employee' employee.pk %}"><i class="fas fa-pencil-alt"></i></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
