{% extends 'extends/base.html' %}

{% load static %}

{% block title %}EPOBS - Add Expense Corrective Journal Entry{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'expense-list' %}">Expenses</a></li>
  <li class="breadcrumb-item">Corrective Journal Entry</li>
  <li class="breadcrumb-item">Add</li>
{% endblock %}

{% block content %}

  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include '../expense-form.html' %}
    <div class="font-weight-bold">Total Amount: <label id="total-amount"></label></div>
    <input type="submit" name="save" value="Save as Draft" class="btn btn-primary" />
    <input type="submit" name="save-and-submit" value="Submit for Approval" class="btn btn-primary" />
    <a href="{% url 'expense-list' %}" class="btn btn-secondary">Cancel</a>
  </form>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/expenses.js' %}"></script>
{% endblock %}
