{% extends 'extends/base.html' %}

{% load static %}
{% load core_tags %}

{% block title %}EPOBS - View Expense Corrective Journal Entry{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'expense-list' %}">Expenses</a></li>
  <li class="breadcrumb-item">Corrective Journal Entry</li>
  <li class="breadcrumb-item">View</li>
  <li class="breadcrumb-item">{{ expensecje }}</li>
{% endblock %}

{% block content %}

  <div class="alert alert-light">
    This journal entry is a correction to <a href="{% url 'expense-detail' expensecje.correction_to.pk %}">{{ expensecje.correction_to }}</a>.

    {% if expensecje.approval_status == 'A' %}
      It was resolved in expenses
      {% if expensecje.reversed_in %}<a href="{% url 'expense-detail' expensecje.reversed_in.pk %}">{{ expensecje.reversed_in }}</a> and{% endif %}
      <a href="{% url 'expense-detail' expensecje.restated_in.pk %}">{{ expensecje.restated_in }}</a>.
    {% endif %}
  </div>

  <table class="table">
    <tr><td></td><th>Original</th><th>Correction</th></tr>
    <tr><th>Category:</th>
      <td>{{ expensecje.correction_to.ledger_account.category }}</td>
      <td>{{ expensecje.ledger_account.category }}</td></tr>
    <tr><th>Ledger Account:</th>
      <td>{{ expensecje.correction_to.ledger_account }}</td>
      <td>{{ expensecje.ledger_account }}</td></tr>
    <tr><th>Payee:</th>
      <td>{{ expensecje.correction_to.payee }}</td>
      <td>{{ expensecje.payee }}</td></tr>
    <tr><th>Quantity:</th>
      <td>{{ expensecje.correction_to.quantity }}</td>
      <td>{{ expensecje.quantity }}</td></tr>
    <tr><th>Cost per Unit:</th>
      <td>{{ expensecje.correction_to.unit_cost|currency }}</td>
      <td>{{ expensecje.unit_cost|currency }}</td></tr>
    <tr><th>Discount:</th>
      <td>{{ expensecje.correction_to.discount|currency }}</td>
      <td>{{ expensecje.discount|currency }}</td></tr>
    <tr><th>Tax:</th>
      <td>{{ expensecje.correction_to.tax|currency }}</td>
      <td>{{ expensecje.tax|currency }}</td></tr>
    <tr><th>Amount:</th>
      <td>{{ expensecje.correction_to.amount|currency }}</td>
      <td>{{ expensecje.amount|currency }}</td></tr>
    <tr><th>Notes:</th>
      <td>{{ expensecje.correction_to.notes }}</td>
      <td>{{ expensecje.notes }}</td></tr>
  </table>

  <table class="table">
    <tr><th>Created:</th>
      <td>{{ expensecje.created }} by {{ expensecje.created_by }}</td></tr>
    <tr><th>Status:</th>
      <td>{{ expensecje.get_approval_status_display }}</td></tr>
    {% if expensecje.approval_status == 'P' %}<tr><th>Submitted for Approval:</th>
      <td>{{ expensecje.date_submitted }} by {{ expensecje.submitted_by }}</td></tr>{% endif %}
    {% if expensecje.approval_status == 'A' %}<tr><th>Approved:</th>
      <td>{{ expensecje.date_approved }} by {{ expensecje.approved_by }}</td></tr>{% endif %}
  </table>

  {% if expensecje.approval_status == 'P' and school_perms.finance.approve_expensecorrectivejournalentry and user != expensecje.submitted_by %}
    <a href="{% url 'expense-cje-approve' expensecje.pk %}"><span class="btn btn-secondary">Approve</span></a>
  {% endif %}
  {% if expensecje.approval_status == 'P' and school_perms.finance.change_expensecorrectivejournalentry %}
    <a href="{% url 'expense-cje-unsubmit' expensecje.pk %}"><span class="btn btn-secondary">Revert to draft</span></a>
  {% endif %}
  {% if expensecje.approval_status == 'D' and school_perms.finance.change_expensecorrectivejournalentry %}
    <a href="{% url 'expense-cje-submit' expensecje.pk %}"><span class="btn btn-secondary">Submit for Approval</span></a>
    <a href="{% url 'expense-cje-edit' expensecje.pk %}"><span class="btn btn-secondary">Edit</span></a>
  {% endif %}

{% endblock %}
