{% extends 'base.html' %}

{% load static %}

{% block title %}EPOBS - Edit Students{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Students</li>
  <li class="breadcrumb-item">Edit</li>
  <li class="breadcrumb-item">{{ student }}</li>
{% endblock %}

{% block content %}

<!-- TODO: populate fields with existing student info -->
  <form method="post" class="mb-4">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <input type="submit" name="save" value="Save" />
    <input type="submit" name="delete" value="Delete" />
  </form>

{% endblock %}
