{% extends 'extends/base.html' %}

{% load static %}

{% block title %}EPOBS - Add Revenue Corrective Journal Entry{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Revenues</li>
  <li class="breadcrumb-item">Corrective Journal Entry</li>
  <li class="breadcrumb-item">Add</li>
{% endblock %}

{% block content %}

  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <input type="submit" name="save" value="Save as Draft" />
    <input type="submit" name="save-and-submit" value="Save and Submit for Approval" />
  </form>

{% endblock %}
