{% extends 'extends/base.html' %}

{% load static %}

{% block title %}EPOBS - Edit Revenue Corrective Journal Entry{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'revenue-list' %}">Revenues</a></li>
  <li class="breadcrumb-item">Corrective Journal Entry</li>
  <li class="breadcrumb-item">Edit</li>
  <li class="breadcrumb-item">{{ object }}</li>
{% endblock %}

{% block content %}

  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include './revenue-cje-form.html' %}
    <input type="submit" name="save" value="Save as Draft" class="btn btn-primary" />
    <input type="submit" name="save-and-submit" value="Submit for Approval" class="btn btn-primary" />
    {% if school_perms.finance.delete_revenuecorrectivejournalentry %}
      <input type="submit" name="delete" value="Delete" class="btn btn-danger" />{% endif %}
    <a href="{% url 'revenue-list' %}" class="btn btn-secondary">Cancel</a>
  </form>

{% endblock %}
