{% load widget_tweaks %}
{% load core_tags %}

{% include 'core/non-field-errors.html' %}

{% with field=form.student %}
<div class="form-row">
  <div class="form-group col-sm-9">
    {% include 'core/field.html' %}
  </div>
</div>
{% endwith %}

<div class="form-row">
  {% with field=form.ledger_account %}
  <div class="form-group col-sm-6">
    {% include 'core/field.html' %}
  </div>
  {% endwith %}
  {% with field=form.amount %}
  <div class="form-group col-sm-3">
    {% include 'core/field.html' %}
  </div>
  {% endwith %}
</div>

{% with field=form.notes %}
<div class="form-row">
  <div class="form-group col-sm-12">
    {% include 'core/field.html' %}
  </div>
</div>
{% endwith %}
