{% extends 'extends/base.html' %}

{% load static %}

{% block title %}EPOBS - Create Budget Period{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'budget-list' %}">Budgets</a></li>
  <li class="breadcrumb-item">Create</li>
{% endblock %}

{% block content %}

  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'core/form.html' %}
    <input type="submit" name="save" value="Save" class="btn btn-primary" />
    <a href="{% url 'budget-list' %}" class="btn btn-secondary">Cancel</a>
  </form>

{% endblock %}
