{% extends 'extends/base.html' %}

{% load static %}

{% block title %}EPOBS - Edit Class{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">School</li>
  <li class="breadcrumb-item">Classes</li>
  <li class="breadcrumb-item">Edit</li>
  <li class="breadcrumb-item">{{ graduatingclass.graduating_year }}</li>
{% endblock %}

{% block content %}

  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    {{ fee_formset.management_form }}
    <div class="form-group">
      {% for form in fee_formset.forms %}
        <h6>{{ form.instance.ledger_account }}</h6>
        {{ form.as_p }}
      {% endfor %}
    </div>
    <input type="submit" name="save" value="Save" class="btn btn-primary" />
    <a href="{% url 'class-list' %}" class="btn btn-secondary">Cancel</a>
  </form>

{% endblock %}
