{% extends 'extends/datatable.html' %}
{% load core_tags %}

{% block title %}EPOBS - List Classes{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">School Admin</li>
  <li class="breadcrumb-item">Classes</li>
  <li class="breadcrumb-item">List</li>
{% endblock %}

{% block content %}
  <div class="alert alert-info">
    {% if listview_filters %}
      Showing classes matching filters:
      <br />{{ listview_filters }}
    {% else %}
      Showing all classes
    {% endif %}
  </div>

  <table id="datatable" class="table table-striped table-sm">
    <thead>
      <tr>
        <th class="datatable-column">Class</th>
        <th class="datatable-column">Graduating Year</th>
        {% for fee_type in fee_list %}
          <th class="datatable-column">{{ fee_type }}</th>
        {% endfor %}
        {% if school_perms.schools.change_graduatingclass %}<th class="datatable-column datatable-nondata">Edit</th>{% endif %}
        {% if school_perms.students.view_student %}<th class="datatable-column datatable-nondata">View Students</th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for class in object_list %}
        <tr>
          <td>{{ class }}</td>
          <td>{{ class.graduating_year }}</td>
          {% for fee_type in fee_list %}
            <td>{{ fees|get_item:class|get_item:fee_type|currency }}</td>
          {% endfor %}
          {% if school_perms.schools.change_graduatingclass %}<td>
            <a href="{% url 'class-edit' class.pk %}"><i class="fas fa-pencil-alt"></i></a></td>{% endif %}
          {% if school_perms.students.view_student %}<td>
            <a href="{{ class.student_list_url }}"><i class="fas fa-child"></i></a></td>{% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
