{% extends 'extends/base.html' %}

{% load static %}

{% block title %}EPOBS - Add Members{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">School</li>
  <li class="breadcrumb-item">Members</li>
  <li class="breadcrumb-item">Add</li>
{% endblock %}

{% block content %}

  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'core/form.html' %}
    <input type="submit" name="save" value="Save" class="btn btn-primary" />
    <a href="{% url 'member-list' %}" class="btn btn-secondary">Cancel</a>
  </form>

{% endblock %}
