{% extends 'extends/base.html' %}

{% load static %}

{% block title %}EPOBS - Edit Membership{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">School Admin</li>
  <li class="breadcrumb-item"><a href="{% url 'member-list' %}">Membership</a></li>
  <li class="breadcrumb-item">Edit</li>
  <li class="breadcrumb-item">{{ userschoolmembership.user }}</li>
{% endblock %}

{% block content %}

  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'core/form.html' %}
    <input type="submit" name="save" value="Save" class="btn btn-primary" />
    {% if school_perms.schoolauth.delete_userschoolmembership %}
      <input type="submit" name="delete" value="Delete" class="btn btn-danger" />{% endif %}
    <a href="{% url 'member-list' %}" class="btn btn-secondary">Cancel</a>
  </form>

{% endblock %}
