{% extends 'base.html' %}

{% load static %}

{% block title %}EPOBS - View Revenue{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Revenues</li>
  <li class="breadcrumb-item">View</li>
{% endblock %}

{% block content %}
  <table class="table">
    <tr><th>Ledger Account:</th><td>{{ revenue.ledger_account }}</td></tr>
    <tr><th>Student:</th><td>{{ revenue.student }}</td></tr>
    <tr><th>Amount:</th><td>{{ revenue.amount_charged }}</td></tr>
    <tr><th>Created:</th><td>{{ revenue.created }} by {{ revenue.created_by }}</td></tr>
    {% if revenue.paid %}<tr><th>Date Paid:</th><td>{{ revenue.when_paid }}</td></tr>
    {% else %}<tr><th>Amount Paid:</th><td>{{ revenue.partial_amount_paid }}</td></tr>
    {% endif %}
    {% if revenue.notes %}<tr><th>Notes:</th><td>{{ revenue.notes }}</td></tr>{% endif %}
  </table>

  {% if revenue.corrected_by_cje %}This transaction has been corrected by <a href="#">journal entry {{ revenue.corrected_by_cje.pk }}</a>.{% endif %}

  {% if perms.finance.add_revenuecorrectivejournalentry %}
    <a href="#"><span class="btn btn-secondary">Revise using journal entry</span></a>
  {% endif %}
{% endblock %}
