{% extends 'base.html' %}

{% load static %}

{% block title %}EPOBS - List Revenues{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Revenues</li>
  <li class="breadcrumb-item">List</li>
{% endblock %}

{% block content %}
  {% if perms.finance.add_revenuetransaction %}
  <div class="form-group">
    <a href="{% url 'revenue-create' %}" class="btn btn-secondary"><i class="fas fa-plus-square"></i> Add Revenues...</a>
  </div>
  {% endif %}

  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Date Paid</th>
        <th>Student</th>
        <th>Ledger Account</th>
        <th>Amount</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      {% for revenue in object_list %}
        {% if revenue.corrected_by_cje %}<tr class="table-danger">{% else %}<tr>{% endif %}
          <td>{{ revenue.created }}</td>
          <td>{{ revenue.student }}</td>
          <td>{{ revenue.ledger_account }}</td>
          <td>{{ revenue.amount }}</td>
          <td><a href="{% url 'revenue-detail' revenue.pk %}"><i class="fas fa-file-invoice"></i></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if cje_list|length > 0 %}
  <h4>Outstanding Corrective Journal Entries</h4>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Student</th>
        <th>Ledger Account</th>
        <th>Amount</th>
        <th>Status</th>
        <th>View</th>
        {% if perms.finance.change_revenuecorrectivejournalentry %}<th>Edit</th>{% endif %}
        {% if perms.finance.approve_revenuecorrectivejournalentry %}<th>Approve</th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for revenuecje in cje_list %}
        <tr>
          <td>{{ revenuecje.student }}</td>
          <td>{{ revenuecje.ledger_account }}</td>
          <td>{{ revenuecje.amount }}</td>
          <td>{{ revenuecje.get_approval_status_display }}</td>
          <td><a href="{% url 'revenue-cje-detail' revenuecje.pk %}"><i class="fas fa-file-invoice"></i></a></td>
          {% if perms.finance.change_revenuecorrectivejournalentry %}<td>
            {% if revenuecje.approval_status == 'D' %}
              <a href="{% url 'revenue-cje-edit' revenuecje.pk %}"><i class="fas fa-pencil-alt"></i></a>
            {% endif %}
          </td>{% endif %}
          {% if perms.finance.approve_revenuecorrectivejournalentry %}<td>
            {% if revenuecje.approval_status == 'S' and user != revenuecje.submitted_by %}
              <a href="{% url 'revenue-cje-approve' revenuecje.pk %}"><i class="fas fa-check-double"></i></a>
            {% endif %}
          </td>{% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endblock %}
