{% extends 'extends/datatable.html' %}

{% block title %}EPOBS - List Revenues{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Revenues</li>
  <li class="breadcrumb-item">List</li>
{% endblock %}

{% block content %}
  {% if school_perms.finance.add_revenuetransaction %}
  <div class="form-group">
    <a href="{% url 'revenue-create' %}" class="btn btn-secondary"><i class="fas fa-plus-square"></i> Add Revenues...</a>
  </div>
  {% endif %}

  <div class="alert alert-info">
    {% if listview_filters %}
      Showing revenues matching filters:
      <br />{{ listview_filters }}
    {% else %}
      Showing all revenues
    {% endif %}
  </div>

  <table id="datatable" class="table table-sm">
    <thead>
      <tr>
        <th class="datatable-column datatable-date">Date Paid</th>
        <th class="datatable-column">Budget Period</th>
        <th class="datatable-column">Student</th>
        <th class="datatable-column">Ledger Account</th>
        <th class="datatable-column">Amount</th>
        <th class="datatable-column datatable-nondata">View</th>
      </tr>
    </thead>
    <tbody>
      {% for revenue in object_list %}
        {% if revenue.corrected_by_cje %}<tr class="table-danger">{% else %}<tr>{% endif %}
          <td>{{ revenue.date }}</td>
          <td>{{ revenue.budget_period }}</td>
          <td>{{ revenue.student }}</td>
          <td>{{ revenue.ledger_account }}</td>
          <td>{{ revenue.amount }}</td>
          <td><a href="{% url 'revenue-detail' revenue.pk %}"><i class="fas fa-file-invoice"></i></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if cje_list|length > 0 %}
  <h4>Outstanding Corrective Journal Entries</h4>
  <table id="datatable-secondary" class="table table-sm">
    <thead>
      <tr>
        <th class="datatable-column">Student</th>
        <th class="datatable-column">Ledger Account</th>
        <th class="datatable-column">Amount</th>
        <th class="datatable-column">Status</th>
        <th class="datatable-column datatable-nondata">View</th>
        {% if school_perms.finance.change_revenuecorrectivejournalentry %}
          <th class="datatable-column datatable-nondata">Edit</th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for revenuecje in cje_list %}
        <tr>
          <td>{{ revenuecje.student }}</td>
          <td>{{ revenuecje.ledger_account }}</td>
          <td>{{ revenuecje.amount }}</td>
          <td>{{ revenuecje.get_approval_status_display }}</td>
          <td><a href="{% url 'revenue-cje-detail' revenuecje.pk %}"><i class="fas fa-file-invoice"></i></a></td>
          {% if school_perms.finance.change_revenuecorrectivejournalentry %}<td>
            {% if revenuecje.approval_status == 'D' %}
              <a href="{% url 'revenue-cje-edit' revenuecje.pk %}"><i class="fas fa-pencil-alt"></i></a>
            {% endif %}
          </td>{% endif %}
        </tr>

        {% if revenuecje.approval_status != 'A' %}
          <tr><td colspan="100%"><div class="card-body bg-light" style="width: 90%; padding-top: 0px; padding-bottom:5px; margin-bottom:20px;">
            {% if revenuecje.approval_status == 'P' %}
              {% if school_perms.finance.approve_revenuecorrectivejournalentry and user != revenuecje.submitted_by %}
                <a href="{% url 'revenue-cje-approve' revenuecje.pk %}" class="btn btn-secondary" style="float: right; margin-top:10px;">
                  Approve <i class="fas fa-check-double"></i></a>
              {% endif %}
            {% else %}
              {% if school_perms.finance.change_revenuecorrectivejournalentry %}
                <a href="{% url 'revenue-cje-submit' revenuecje.pk %}" class="btn btn-secondary" style="float: right; margin-top:10px;">
                  Submit for Approval</a>
              {% endif %}
            {% endif %}
            {% if revenuecje.notes %}<span class="font-weight-bold">Notes:</span> {{ revenuecje.notes }}<br/>{% endif %}
            <span class="font-weight-bold">Created:</span> {{ revenuecje.created }} by {{ revenuecje.created_by }}
            {% if revenuecje.approval_status == 'P' %}<br/><span class="font-weight-bold">Submitted for Approval:</span> {{ revenuecje.date_submitted }} by {{ revenuecje.submitted_by }}{% endif %}
          </div></td></tr>
        {% endif %}

      {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endblock %}
