<a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <span class="navbar-toggler-icon" />
</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
  <a class="dropdown-item" href="{% url 'report-index' %}">Reports</a>
  <div class="dropdown-divider"></div>
  {% if school_perms.finance.view_expensetransaction %}
    <a class="dropdown-item" href="{% url 'expense-list' %}">Expenses</a>{% endif %}
  {% if school_perms.finance.view_revenuetransaction %}
    <a class="dropdown-item" href="{% url 'revenue-list' %}">Revenues</a>{% endif %}
  {% if school_perms.finance.view_budgetperiod %}
    <a class="dropdown-item" href="{% url 'budget-list' %}">Budgets</a>{% endif %}
  {% if school_perms.personnel.view_employee %}
    <a class="dropdown-item" href="{% url 'employee-list' %}">Employees</a>{% endif %}
  {% if school_perms.personnel.view_supplier %}
    <a class="dropdown-item" href="{% url 'supplier-list' %}">Suppliers</a>{% endif %}
  {% if school_perms.students.view_student %}
    <a class="dropdown-item" href="{% url 'student-list' %}">Students</a>{% endif %}
  {% if school_perms.schools.view_graduatingclass %}
    <a class="dropdown-item" href="{% url 'class-list' %}">Graduating Classes</a>{% endif %}
  {% if school_perms.schoolauth.view_userschoolmembership %}
    <a class="dropdown-item" href="{% url 'member-list' %}">School Members</a>{% endif %}
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
</div>
