{% extends 'extends/base.html' %}

{% load static %}
{% load core_tags %}

{% block title %}EPOBS - View Expense{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'expense-list' %}">Expenses</a></li>
  <li class="breadcrumb-item">View</li>
  <li class="breadcrumb-item">{{ expense }}</li>
{% endblock %}

{% block content %}
  {% if expense.corrected_by_cje %}
  <div class="alert alert-danger">
    {% if expense.corrected_by_cje.approval_status == 'A' %}
      This transaction has been corrected by a
    {% else %}
      This transaction is in the process of being corrected by a
    {% endif %}
    <a href="{% url 'expense-cje-detail' expense.corrected_by_cje.pk %}">journal entry</a>.
  </div>
  {% endif %}

  {% if expense.reversal_for_cje %}
  <div class="alert alert-light">
    This transaction reverses an error in
    <a href="{% url 'expense-detail' expense.reversal_for_cje.correction_to.pk %}">{{ expense.reversal_for_cje.correction_to }}</a>.
  </div>
  {% endif %}

  {% if expense.restatement_for_cje %}
  <div class="alert alert-light">
    This transaction replaces
    <a href="{% url 'expense-detail' expense.restatement_for_cje.correction_to.pk %}">{{ expense.restatement_for_cje.correction_to }}</a>.
  </div>
  {% endif %}

  <table class="table">
    <tr><th>Category:</th><td>{{ expense.ledger_account.category }}</td></tr>
    <tr><th>Ledger Account:</th><td>{{ expense.ledger_account }}</td></tr>
    <tr><th>Payee:</th><td>{{ expense.payee }}</td></tr>
    <tr><th>Quantity:</th><td>{{ expense.quantity }}</td></tr>
    <tr><th>Cost per Unit:</th><td>{{ expense.unit_cost|currency }}</td></tr>
    {% if expense.discount > 0 %}<tr><th>Discount:</th><td>{{ expense.discount|currency }}</td></tr>{% endif %}
    {% if expense.tax > 0 %}<tr><th>Tax:</th><td>{{ expense.tax|currency }}</td></tr>{% endif %}
    <tr><th>Amount:</th><td>{{ expense.amount|currency }}</td></tr>
    {% if expense.notes %}<tr><th>Notes:</th><td>{{ expense.notes }}</td></tr>{% endif %}
    <tr><th/><td/></tr>
    <tr><th>Created:</th><td>{{ expense.created }} by {{ expense.created_by }}</td></tr>
    <tr><th>Status:</th><td>{{ expense.get_approval_status_display }}</td></tr>
    {% if expense.approval_status == 'P' %}<tr><th>Submitted for Approval:</th><td>{{ expense.date_submitted }} by {{ expense.submitted_by }}</td></tr>{% endif %}
    {% if expense.approval_status == 'A' %}<tr><th>Approved:</th><td>{{ expense.date_approved }} by {{ expense.approved_by }}</td></tr>{% endif %}
  </table>

  {% if expense.approval_status == 'P' and school_perms.finance.approve_expensetransaction and user != expense.submitted_by %}
    <a href="{% url 'expense-approve' expense.pk %}"><span class="btn btn-secondary">Approve</span></a>
  {% endif %}
  {% if expense.approval_status == 'P' and school_perms.finance.change_expensetransaction %}
    <a href="{% url 'expense-unsubmit' expense.pk %}"><span class="btn btn-secondary">Revert to draft</span></a>
  {% endif %}
  {% if expense.approval_status == 'D' and school_perms.finance.change_expensetransaction %}
    <a href="{% url 'expense-submit' expense.pk %}"><span class="btn btn-secondary">Submit for Approval</span></a>
    <a href="{% url 'expense-edit' expense.pk %}"><span class="btn btn-secondary">Edit</span></a>
  {% endif %}
  {% if expense.approval_status == 'A' and school_perms.finance.add_expensecorrectivejournalentry and not expense.corrected_by_cje and not expense.reversal_for_cje %}
    <a href="{% url 'expense-cje-create' expense.pk %}"><span class="btn btn-secondary">Revise using journal entry</span></a>
  {% endif %}
{% endblock %}
