{% extends 'extends/base.html' %}

{% load static %}

{% block title %}EPOBS - Edit Expense{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Expenses</li>
  <li class="breadcrumb-item">Edit</li>
{% endblock %}

{% block content %}

  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <div class="font-weight-bold">Total Amount: <label id="total-amount"></label></div>
    <input type="submit" name="save" value="Save as Draft" />
    <input type="submit" name="save-and-submit" value="Save and Submit for Approval" />
    {% if school_perms.finance.delete_expensetransaction %}<input type="submit" name="delete" value="Delete" />{% endif %}
    <input type="submit" name="cancel" value="Cancel" />
  </form>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/expenses.js' %}"></script>
{% endblock %}
