<tr><td colspan="100%"><div class="card-body bg-light" style="width: 90%; padding-top: 0px; padding-bottom:5px; margin-bottom:20px;">
  {% if expense.approval_status == 'P' %}
    {% if school_perms.finance.approve_expensetransaction and user != expense.submitted_by %}
      <a href="{% url 'expense-approve' expense.pk %}" class="btn btn-secondary" style="float: right; margin-top:10px;">Approve <i class="fas fa-check-double"></i></a>
    {% endif %}
  {% else %}
    {% if school_perms.finance.change_expensetransaction %}
      <a href="{% url 'expense-submit' expense.pk %}" class="btn btn-secondary" style="float: right; margin-top:10px;">
        Submit for Approval</a>
    {% endif %}
  {% endif %}
  <span class="font-weight-bold">Quantity:</span> {{ expense.quantity }}
  <span class="font-weight-bold">Cost per Unit:</span> {{ expense.unit_cost }}
  {% if expense.discount > 0 %}<span class="font-weight-bold">Discount:</span> {{ expense.discount }}{% endif %}
  {% if expense.tax > 0 %}<span class="font-weight-bold">Tax:</span> {{ expense.tax }}{% endif %}
  {% if expense.notes %}<br/><span class="font-weight-bold">Notes:</span> {{ expense.notes }}{% endif %}
  <br/><span class="font-weight-bold">Created:</span> {{ expense.created }} by {{ expense.created_by }}
  {% if expense.approval_status == 'P' %}<br/><span class="font-weight-bold">Submitted for Approval:</span> {{ expense.date_submitted }} by {{ expense.submitted_by }}{% endif %}
</div></td></tr>
