{% extends 'base.html' %}

{% load static %}

{% block title %}EPOBS - Edit Budget{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Terms</li>
  <li class="breadcrumb-item">Budgets</li>
  <li class="breadcrumb-item">{{ term }}</li>
{% endblock %}

{% block content %}

<form method="post" class="mb-4" novalidate>
  {% csrf_token %}
  {{ expense_formset.management_form }}
  <div class="form-group">
    <h3>Expense Budgets</h3>
    {% for form in expense_formset.forms %}
      <h6>{{ form.instance.ledger_account }}</h6>
      {{ form.as_p }}
    {% endfor %}
  </div>

  {{ revenue_formset.management_form }}
  <div class="form-group">
    <h3>Revenue Budgets</h3>
    {% for form in revenue_formset.forms %}
      <h6>{{ form.instance.ledger_account }}</h6>
      {{ form.as_p }}
    {% endfor %}
  </div>

  <input type="submit" name="save" value="Save" />
  <input type="submit" name="cancel" value="Cancel" />
</form>
{% endblock %}
