{% extends 'base.html' %}

{% load static %}

{% block title %}EPOBS - List Terms{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Terms</li>
  <li class="breadcrumb-item">List</li>
{% endblock %}

{% block content %}
  {% if perms.finance.add_term %}
  <div class="form-group">
    <a href="{% url 'create_term' %}" class="btn btn-secondary"><i class="fas fa-plus-square"></i> Create New...</a>
  </div>
  {% endif %}

  <!-- TODO: display discontiguity and overlap errors -->
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Budget</th>
        {% if perms.finance.change_term %}<th>Edit</th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for term in object_list %}
        <tr>
          <td>{{ term.name }}</td>
          <td>{{ term.start }}</td>
          <td>{{ term.end }}</td>
          <td><a href="{% url 'edit_budget' term.pk %}"><i class="fas fa-file-invoice-dollar"></i></a></td>
          {% if perms.finance.change_term %}<td><a href="{% url 'edit_term' term.pk %}"><i class="fas fa-pencil-alt"></i></a></td>{% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
