{% extends 'extends/base.html' %}
{% load core_tags %}

{% load static %}

{% block title %}EPOBS - View Student{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'student-list' %}">Students</a></li>
  <li class="breadcrumb-item">View</li>
  <li class="breadcrumb-item">{{ student }}</li>
{% endblock %}

{% block content %}

  <table class="table">
    <tr><th>First Name:</th><td>{{ student.first_name }}</td></tr>
    <tr><th>Last Name:</th><td>{{ student.last_name }}</td></tr>
    <tr><th>Email:</th><td>{{ student.email }}</td></tr>
    <tr><th>Date of Birth:</th><td>{{ student.date_of_birth }}</td></tr>
    <tr><th>Expected Graduation Year:</th><td>{{ student.graduating_class.graduating_year }}</td></tr>
    {% for ledger_account in balances %}
      <tr><td>{{ ledger_account }} Balance Due:</td><td>{{ balances|get_item:ledger_account }}</td></tr>
    {% endfor %}
    <tr><th>Total Balance Due:</th><td>{{ total_balance }}</td></tr>
    <tr><th>ID:</th><td>{{ student.external_id }}</td></tr>
  </table>

  <a href="{{ student.revenue_create_url }}"><span class="btn btn-secondary">Make Payment</span></a>
  <a href="{{ student.revenue_list_url }}"><span class="btn btn-secondary">View Payments</span></a>

{% endblock %}
